body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Arial, sans-serif; }

#homeBG {
  height: 657px;
  width: 100%;
  background: url("../resources/homepage-bg.jpg") no-repeat fixed;
  background-size: 100% 100%;
  margin: 0;
  position: relative;
  z-index: 3; }

#homeContainer {
  position: relative;
  background: transparent;
  height: 657px;
  width: 100%;
  margin-top: -657px;
  z-index: 10; }
  #homeContainer h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    width: 60%;
    line-height: 55px;
    font-weight: 200;
    margin: auto; }
    #homeContainer h1 span {
      color: #8dd831; }
  #homeContainer #navigation {
    z-index: 1000;
    position: fixed;
    background: white;
    width: 100%;
    height: 75px;
    margin: 0;
    border-bottom: 1px solid #F0F0F0;
    top: 0;
    display: none; }
    #homeContainer #navigation ul {
      font-family: 'Raleway', Arial, sans-serif;
      font-size: 12px;
      font-weight: 550;
      list-style: none;
      float: right;
      margin-right: 95px; }
    #homeContainer #navigation li {
      display: inline;
      position: relative;
      padding-left: 39px;
      line-height: 55px; }
    #homeContainer #navigation a {
      text-decoration: none;
      color: #909090; }
    #homeContainer #navigation img {
      position: absolute;
      width: 45px;
      left: 95px;
      top: 14px; }

#logoContainer {
  padding-top: 135px;
  width: 120px;
  height: auto;
  margin: 0 auto;
  position: relative; }
  #logoContainer img {
    width: 120px; }

#homeContainerSlider {
  width: 1284px;
  height: 200px;
  overflow: hidden; }
  #homeContainerSlider ul {
    overflow: hidden; }
  #homeContainerSlider li {
    overflow: hidden; }

#ourWorks {
  width: 100%;
  height: 945px;
  position: relative;
  background: white;
  text-align: center;
  z-index: 5; }
  #ourWorks p {
    padding-top: 80px;
    color: black;
    font-size: 40px;
    line-height: 50px; }
  #ourWorks span {
    display: block;
    font-size: 13px;
    letter-spacing: 1px; }

#ourWorksNav ul {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 550;
  list-style: none;
  font-size: 16px;
  margin-left: -82px;
  margin-top: -10px; }
#ourWorksNav li {
  display: inline;
  position: relative;
  line-height: 39px; }
#ourWorksNav a {
  text-decoration: none;
  color: #909090;
  border: 1px solid #F0F0F0;
  padding: 15px;
  font-size: 13px; }

#ourWorksImg {
  margin-left: 80px;
  margin-right: 80px;
  position: relative; }
  #ourWorksImg img {
    width: 350px;
    height: 250px;
    margin-left: 26px;
    margin-top: 45px;
    position: relative; }

#ourClients {
  background: #8dd831;
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 5; }
  #ourClients #logo1 {
    position: absolute;
    left: 95px;
    top: 85px; }
  #ourClients #logo2 {
    position: absolute;
    left: 400px;
    top: 85px; }
  #ourClients #logo3 {
    position: absolute;
    left: 700px;
    top: 90px;
    height: 40px; }
  #ourClients #logo4 {
    position: absolute;
    right: 95px;
    top: 65px; }

#oneMoreBG {
  background: url("../resources/2.jpg") no-repeat fixed;
  background-size: 100% 100%;
  width: 100%;
  height: 550px;
  position: relative;
  z-index: 4; }

#oneMorePage {
  background: transparent;
  background-size: 100% 100%;
  width: 100%;
  height: 550px;
  margin-top: -550px;
  position: relative;
  z-index: 5; }
  #oneMorePage p {
    color: white;
    font-size: 35px;
    position: absolute;
    left: 95px;
    top: 100px; }
  #oneMorePage h2 {
    position: absolute;
    left: 95px;
    top: 195px;
    font-weight: 900; }
  #oneMorePage a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2px; }

#pageBuilder {
  width: 100%;
  height: 500px;
  position: relative;
  background: white;
  z-index: 5; }
  #pageBuilder img {
    position: absolute;
    left: 95px;
    top: 80px; }
  #pageBuilder h2 {
    position: absolute;
    left: 700px;
    top: 170px;
    color: #575555;
    font-weight: 600;
    font-size: 30px; }
  #pageBuilder p {
    line-height: 25px;
    font-size: 13px;
    color: #7b7b7b;
    font-weight: normal;
    margin-right: 95px; }

#pageBuilderSlider {
  position: relative;
  width: 100%;
  height: 200px;
  padding-bottom: 100px;
  background: white;
  z-index: 5; }

#sliderBG {
  margin: 0 auto;
  width: 85%;
  height: 250px;
  z-index: 5; }
  #sliderBG img {
    width: 100%;
    height: 250px;
    padding-bottom: 70px; }

#ourTeamContainer {
  z-index: 5;
  width: 100%;
  height: 420px;
  position: relative;
  background: white; }
  #ourTeamContainer #ourTeam {
    position: relative;
    margin: 0 auto;
    width: 85%;
    height: 100%;
    padding-top: 30px; }
    #ourTeamContainer #ourTeam #teamMotto {
      width: 250px;
      height: 100%;
      float: left; }
      #ourTeamContainer #ourTeam #teamMotto h3 {
        font-size: 40px;
        color: #333333;
        font-weight: 500; }
      #ourTeamContainer #ourTeam #teamMotto p {
        font-family: 'Raleway', Arial, sans-serif;
        line-height: 25px;
        font-size: 13px;
        color: #7b7b7b;
        font-weight: normal;
        margin-top: -30px; }
    #ourTeamContainer #ourTeam #staffImage {
      height: 100%;
      margin-left: 20px;
      width: 75%;
      float: left; }
      #ourTeamContainer #ourTeam #staffImage img {
        position: relative;
        margin-top: 55px; }
      #ourTeamContainer #ourTeam #staffImage #staffOneImage {
        height: 100%;
        width: 32%;
        float: left;
        margin-right: 20px; }
      #ourTeamContainer #ourTeam #staffImage #staffTwoImage {
        height: 100%;
        width: 32%;
        float: left;
        margin-right: 20px; }
      #ourTeamContainer #ourTeam #staffImage #staffThreeImage {
        height: 100%;
        width: 30%;
        float: left; }

#ourMusicBG {
  background: url("../resources/music-bg.jpg") no-repeat fixed;
  background-size: 100% 100%;
  width: 100%;
  height: 350px;
  position: relative;
  z-index: 2; }

#ourMusic {
  background: transparent;
  background-size: 100% 100%;
  width: 100%;
  height: 350px;
  text-align: center;
  position: relative;
  z-index: 5;
  margin-top: -350px; }
  #ourMusic h1 {
    padding-top: 90px;
    font-size: 48px;
    color: #fff; }

#services {
  position: relative;
  background: white;
  width: 100%;
  height: 530px;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 5; }
  #services h3 {
    position: relative;
    font-size: 35px;
    color: black;
    top: 80px;
    margin: 0 auto;
    font-weight: 500; }
  #services #servicesContainer {
    position: relative;
    top: 150px;
    width: 85%;
    margin: 0 auto;
    height: auto; }
    #services #servicesContainer i {
      font-family: FontAwesome;
      color: #8dd831;
      font-size: 22px;
      position: relative;
      top: 25px; }
    #services #servicesContainer #serviceOne {
      height: 100%;
      width: 367px;
      float: left;
      position: relative; }
    #services #servicesContainer #serviceTwo {
      height: auto;
      width: 367px;
      float: left;
      position: relative; }
    #services #servicesContainer #serviceThree {
      height: auto;
      width: 367px;
      float: left;
      position: relative; }
    #services #servicesContainer .iconContainer {
      border: 2px solid #8dd831;
      border-radius: 100%;
      width: 72px;
      height: 72px;
      margin: 0 auto;
      position: relative; }
    #services #servicesContainer .serviceTitle {
      font-size: 20px;
      font-weight: 400;
      color: #575555;
      margin-top: 20px;
      margin-bottom: 10px;
      position: relative; }
    #services #servicesContainer p {
      line-height: 25px;
      font-size: 13px;
      color: #7b7b7b;
      font-weight: normal;
      margin-bottom: 50px;
      position: relative; }
    #services #servicesContainer .serviceButton {
      border: 1px solid #8dd831;
      padding: 13px 40px;
      font-weight: 700;
      color: #8dd831;
      border-radius: 2px;
      margin: 20px 0;
      text-decoration: none;
      position: relative; }

#testimonials {
  width: 100%;
  height: 272px;
  background: #d8d6d1;
  position: relative;
  z-index: 5; }
  #testimonials #sliderContainer {
    width: 85%;
    margin: 0 auto;
    z-index: 5; }

#testimonialTitle {
  float: left;
  width: 200px;
  z-index: 5; }
  #testimonialTitle h3 {
    padding-top: 60px;
    font-size: 35px;
    color: #fff;
    font-weight: 500; }

#testimonialSlider {
  float: left;
  margin-left: 30px;
  width: 79%;
  height: 272px;
  z-index: 5; }

#video {
  position: relative;
  background: black;
  width: 100%;
  height: 300px;
  z-index: 5; }

#skills {
  position: relative;
  background: #292929;
  width: 100%;
  height: 350px;
  text-align: center;
  z-index: 5; }
  #skills h3 {
    position: relative;
    font-size: 35px;
    color: white;
    top: 80px;
    margin: 0 auto;
    font-weight: 500; }

#buyLayer {
  background: #8dd831;
  width: 100%;
  height: 130px;
  text-align: center;
  z-index: 5;
  position: relative;
  margin: 0; }
  #buyLayer p {
    position: relative;
    display: inline; }
  #buyLayer h3 {
    position: relative;
    display: block;
    margin: 0 auto;
    color: white;
    top: 50px;
    left: -100px;
    font-weight: 500;
    font-size: 26px; }
  #buyLayer a {
    border: 1px solid white;
    padding: 13px 40px;
    font-weight: 700;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    position: relative;
    left: 170px;
    top: 27px;
    font-size: 14px; }

#buyLayerContainer {
  width: 85%;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 5; }

#contactsBG {
  background: url("../resources/contacts.jpg") no-repeat fixed;
  background-size: 100% 100%;
  width: 100%;
  height: 700px;
  position: relative;
  z-index: 1; }

#contacts {
  background: transparent;
  background-size: 100% 100%;
  width: 100%;
  height: 700px;
  margin-top: -700px;
  position: relative;
  z-index: 5; }

#contactsContainer {
  width: 85%;
  height: 500px;
  margin: 0 auto;
  z-index: 5; }

#contactsMotto {
  float: left;
  width: 235px;
  z-index: 5; }
  #contactsMotto h3 {
    padding-top: 40px;
    font-size: 48px;
    color: #fff;
    font-weight: 500; }

#contactsForm {
  width: 565px;
  height: 400px;
  float: left;
  margin-top: 85px;
  z-index: 5; }
  #contactsForm .text-field {
    width: 500px;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    background: black;
    opacity: 0.5;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    font-family: 'Raleway', Arial, sans-serif; }
  #contactsForm h3 {
    margin-left: 20px;
    color: #8dd831; }
  #contactsForm #textArea {
    margin-top: 10px;
    margin-left: 20px;
    width: 500px;
    height: 190px;
    resize: none;
    background: black;
    padding: 10px;
    opacity: 0.5;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    font-family: 'Raleway', Arial, sans-serif; }
  #contactsForm #buttonName {
    display: block;
    margin-left: 20px;
    margin-top: 30px;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 13px 40px;
    font-size: 13px;
    font-weight: 700; }

#widgets {
  float: left;
  width: 300px;
  height: 400px;
  z-index: 5; }
  #widgets #address {
    width: 100%;
    height: 50px;
    color: white; }
    #widgets #address h4 {
      margin-top: 95px;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 200; }
    #widgets #address p {
      line-height: 25px;
      font-size: 13px; }
  #widgets #followUs {
    width: 100%;
    height: 250px;
    color: white;
    z-index: 5; }
    #widgets #followUs h4 {
      margin-top: 95px;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 200; }
    #widgets #followUs .link-box {
      width: 46px;
      height: 46px;
      border-radius: 2px;
      text-align: center;
      line-height: 46px;
      vertical-align: middle;
      background-color: transparent;
      border: 1px solid #fff;
      margin-right: 14px;
      margin-bottom: 14px;
      float: left;
      color: #fff; }

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
