body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', Arial, sans-serif !important; }

#homeContainer {
  background: url("../resources/homepage-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  width: 100%;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  #homeContainer h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 60px;
    line-height: 55px;
    font-weight: 200;
    margin: 0 auto; }
    #homeContainer h1 span {
      color: #8dd831; }
  #homeContainer #navigations {
    background: white;
    width: 100%;
    border-bottom: 1px solid #F0F0F0;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: none; }
    #homeContainer #navigations li {
      position: relative;
      top: -10px; }
    #homeContainer #navigations a {
      text-decoration: none;
      color: #909090;
      padding: 10px 0px;
      margin: 0 20px; }
    #homeContainer #navigations img {
      position: relative;
      width: 40px;
      margin-bottom: 5px;
      top: -4px; }
    #homeContainer #navigations a:hover {
      color: black; }

.nav > .nav-active > a {
  border-bottom: 3px solid #8dd831;
  margin: 0 auto; }

#logoContainer {
  padding-top: 100px;
  height: auto;
  margin: 0 auto;
  position: relative;
  display: table; }
  #logoContainer img {
    margin: 0 auto;
    width: 120px;
    height: auto;
    margin: 0 auto; }

#slider {
  overflow: hidden; }

#homeContainerSlider ul {
  list-style: none; }
#homeContainerSlider #pagination {
  text-align: center;
  padding-top: 60px;
  position: relative;
  margin-bottom: 15px;
  margin: 0 auto;
  display: table; }
#homeContainerSlider i {
  font-size: 14px;
  color: #d9d9d9; }
#homeContainerSlider #paginationIcon1 {
  float: left;
  margin-right: 5px; }
#homeContainerSlider #paginationIcon2 {
  float: left; }

#slidercontainer {
  width: auto;
  height: auto;
  margin-bottom: 25px; }

#ourWorks {
  position: relative;
  background: white;
  text-align: center;
  margin-bottom: 10px; }
  #ourWorks p {
    padding-top: 80px;
    color: black;
    font-size: 40px;
    line-height: 50px; }
  #ourWorks span {
    display: block;
    font-size: 13px;
    letter-spacing: 1px; }

#ourWorksNav {
  position: relative;
  text-align: center; }
  #ourWorksNav li {
    display: inline;
    line-height: 50px; }
  #ourWorksNav a {
    text-decoration: none;
    color: #909090;
    border: 1px solid #dfdfdf;
    padding: 15px;
    font-size: 13px; }
  #ourWorksNav a:hover {
    background: #f5f5f5; }
  #ourWorksNav #allworks {
    background: #f5f5f5; }

#ourWorksImg {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px; }
  #ourWorksImg img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #ourWorksImg .work-name {
    width: 100%;
    margin: 0;
    padding: 0; }
    #ourWorksImg .work-name p {
      font-size: 20px;
      font-weight: 600;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease;
      padding: 0;
      margin-top: 50px;
      margin-bottom: 15px;
      line-height: 0; }
    #ourWorksImg .work-name a {
      text-decoration: none;
      color: white;
      line-height: 0; }
  #ourWorksImg .work-tags {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: block; }
    #ourWorksImg .work-tags a {
      font-weight: 600;
      font-size: 12px;
      color: white;
      text-decoration: none;
      padding: 0;
      margin: 0;
      line-height: 0; }
    #ourWorksImg .work-tags p {
      color: white;
      line-height: 0;
      padding: 0;
      margin: 0;
      width: auto;
      height: auto;
      display: block; }
  #ourWorksImg .work-view {
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 95px; }
    #ourWorksImg .work-view i {
      color: white;
      font-size: 14px;
      border-radius: 100px;
      border: 1px solid white;
      padding: 15px;
      margin: 0; }

#ourClients {
  background: #8dd831;
  width: 100%;
  position: relative;
  display: block;
  padding: 70px 0px; }
  #ourClients img {
    max-width: 150px;
    max-height: 80px;
    display: block;
    margin: auto;
    height: auto; }
  #ourClients #logo1 {
    margin-top: 10px; }
  #ourClients #logo2 {
    margin-top: 10px; }
  #ourClients #logo3 {
    margin-top: 15px; }
  #ourClients #logo4 {
    margin-top: -8px; }

#oneMorePage {
  background: url("../resources/2.jpg") no-repeat fixed;
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  overflow: visible; }
  #oneMorePage h2 {
    position: relative;
    color: white;
    font-size: 35px;
    top: 115px;
    position: relative;
    font-weight: 200; }
  #oneMorePage a {
    top: 135px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 900;
    border: 1px solid white;
    padding: 14px 40px;
    border-radius: 2px;
    position: relative;
    opacity: 0.7;
    font-family: Arial;
    line-height: 1.1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  #oneMorePage a:hover {
    opacity: 1; }

#pageBuilder {
  width: auto;
  height: auto;
  position: relative;
  background: white;
  z-index: 5;
  padding: 70px 0px; }
  #pageBuilder img {
    width: 100%;
    height: auto;
    position: relative; }
  #pageBuilder h2 {
    position: relative;
    top: 80px;
    color: #575555;
    font-weight: 600;
    font-size: 30px; }
  #pageBuilder p {
    line-height: 25px;
    font-size: 13px;
    color: #7b7b7b;
    font-weight: normal;
    width: 100%;
    position: relative; }

#pageBuilderSlider {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 80px;
  padding-right: 80px;
  background: white; }

#sliderBG {
  position: relative;
  height: auto;
  width: 100%; }
  #sliderBG img {
    position: relative;
    width: 100%;
    height: 300px; }

#ourTeamContainer {
  position: relative;
  background: white;
  padding: 70px 0px; }
  #ourTeamContainer #ourTeam {
    position: relative;
    width: auto;
    height: auto; }
    #ourTeamContainer #ourTeam #imgContainer {
      padding-top: 20px; }
    #ourTeamContainer #ourTeam #teamMotto {
      position: relative; }
      #ourTeamContainer #ourTeam #teamMotto h3 {
        font-size: 40px;
        color: #333333;
        font-weight: 500;
        margin-bottom: 50px; }
      #ourTeamContainer #ourTeam #teamMotto p {
        font-family: 'Raleway', Arial, sans-serif;
        line-height: 25px;
        font-size: 13px;
        color: #7b7b7b;
        font-weight: normal;
        margin-top: -30px;
        position: relative;
        width: 100%; }
  #ourTeamContainer img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #ourTeamContainer .team-name {
    margin-top: 20px;
    text-align: center; }
    #ourTeamContainer .team-name p {
      margin-bottom: 5px;
      font-size: 20px;
      color: #fff;
      line-height: 25px;
      opacity: 1;
      font-weight: 600; }
  #ourTeamContainer .team-position {
    text-align: center; }
    #ourTeamContainer .team-position p {
      font-size: 13px;
      font-weight: 600;
      color: #fff; }
  #ourTeamContainer .team-social {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: 6%;
    width: 100%;
    left: 0; }
    #ourTeamContainer .team-social i {
      font-size: 18px;
      color: #fff;
      margin: 0 6px 6px 6px; }

#ourMusic {
  background: url("../resources/music-bg.jpg") no-repeat fixed;
  background-size: 100% 100%;
  width: 100%;
  text-align: center;
  padding: 70px 0px;
  z-index: 5; }
  #ourMusic h1 {
    font-size: 48px;
    color: #fff; }

#services {
  position: relative;
  background: white;
  width: 100%;
  height: auto;
  text-align: center; }
  #services h3 {
    position: relative;
    font-size: 35px;
    color: black;
    top: 80px;
    margin: 0 auto;
    font-weight: 500; }
  #services #servicesContainer {
    position: relative;
    margin-top: 150px; }
    #services #servicesContainer i {
      font-family: FontAwesome;
      font-size: 22px;
      position: relative;
      top: 25px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #services #servicesContainer .service-box {
      padding-bottom: 50px;
      position: relative; }
    #services #servicesContainer .icon-container {
      border: 2px solid #8dd831;
      border-radius: 100%;
      width: 72px;
      height: 72px;
      margin: 0 auto;
      position: relative;
      color: #8dd831;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #services #servicesContainer .service-title {
      font-size: 20px;
      font-weight: 400;
      color: #575555;
      margin-top: 20px;
      margin-bottom: 10px;
      position: relative; }
    #services #servicesContainer p {
      line-height: 25px;
      font-size: 13px;
      color: #7b7b7b;
      font-weight: normal;
      margin-bottom: 50px;
      position: relative; }
    #services #servicesContainer .service-button {
      border: 1px solid #8dd831;
      padding: 13px 40px;
      font-weight: 900;
      color: #8dd831;
      border-radius: 2px;
      margin: 20px 0;
      text-decoration: none;
      position: relative;
      font-family: Arial;
      width: auto;
      height: auto;
      font-weight: 14px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #services #servicesContainer .service-button:hover {
      background: #8dd831;
      color: white; }

#testimonials {
  width: 100%;
  height: auto;
  padding: 70px 0px;
  background: #d8d6d1;
  position: relative; }

#testimonialTitle {
  position: relative;
  margin: 0;
  padding-top: 0; }
  #testimonialTitle h3 {
    padding: 0;
    font-size: 35px;
    color: #fff;
    font-weight: 500;
    position: relative;
    margin: 0; }

#testimonialSlider {
  position: relative;
  width: auto;
  height: auto;
  margin-left: 0;
  padding: 0; }
  #testimonialSlider ul {
    list-style: none; }
  #testimonialSlider p {
    font-size: 24px;
    color: #7b7b7b;
    font-weight: 900;
    line-height: 25px; }
  #testimonialSlider .testimonial-name p {
    font-size: 14px;
    color: white;
    font-weight: 900;
    line-height: 25px;
    font-family: Arial; }
  #testimonialSlider #pagination {
    position: relative;
    width: auto;
    margin-left: 40px; }
    #testimonialSlider #pagination .test-paginationIcons {
      color: white;
      width: auto;
      height: auto;
      display: inline-block;
      float: left;
      margin-right: 10px; }
      #testimonialSlider #pagination .test-paginationIcons .fa-circle {
        color: #7b7b7b; }
      #testimonialSlider #pagination .test-paginationIcons i {
        font-size: 14px; }
    #testimonialSlider #pagination .fa-circle-o:hover {
      color: #7b7b7b; }

#video {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 0;
  padding: 0; }

#skills {
  position: relative;
  background: #292929;
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 5;
  color: white;
  padding: 70px 0; }
  #skills h3 {
    position: relative;
    font-size: 35px;
    color: white;
    font-weight: 500; }

#buyLayer {
  background: #8dd831;
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  color: white; }
  #buyLayer #buyLayerContainer {
    font-size: 26px;
    text-align: center;
    position: relative;
    padding: 42px 0px; }
    #buyLayer #buyLayerContainer a {
      border: 1px solid white;
      padding: 13px 40px;
      font-weight: 700;
      color: white;
      border-radius: 2px;
      text-decoration: none;
      margin-left: 30px;
      font-size: 14px;
      font-family: Arial;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #buyLayer #buyLayerContainer a:hover {
      background: white;
      color: #8dd831; }

#contacts {
  background: url("../resources/contacts.jpg") no-repeat fixed;
  background-size: 100% 100%;
  width: 100%;
  height: auto; }

#contactsContainer {
  padding: 120px 0px; }

#contactsMotto h1 {
  margin-top: -5px;
  font-size: 48px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 60px; }

#contactsForm {
  position: relative; }
  #contactsForm .text-field {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 14px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    margin-bottom: 10px;
    padding: 16px;
    border: 1px solid transparent;
    border-radius: 1px; }
  #contactsForm #textArea {
    width: 100%;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 14px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    margin-bottom: 10px;
    padding: 16px;
    border: 1px solid transparent;
    border-radius: 1px;
    font-family: 'Raleway', Arial, sans-serif;
    resize: vertical; }
  #contactsForm #buttonName {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 13px 40px;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
    border-radius: 2px;
    font-family: Arial;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  #contactsForm #buttonName:hover {
    border: 1px solid #8dd831;
    background: #8dd831; }

#widgets #address {
  color: white; }
  #widgets #address h4 {
    font-size: 20px;
    font-weight: 200; }
  #widgets #address p {
    line-height: 25px;
    font-size: 13px; }
#widgets #followUs {
  color: white; }
  #widgets #followUs h4 {
    font-size: 20px;
    font-weight: 200; }
  #widgets #followUs .link-box {
    width: 46px;
    height: 46px;
    border-radius: 2px;
    text-align: center;
    line-height: 46px;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid #fff;
    margin-right: 14px;
    margin-bottom: 14px;
    float: left;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  #widgets #followUs .link-box:hover {
    border: 1px solid #8dd831;
    background: #8dd831; }

#arrowUp {
  color: #333333;
  text-align: center;
  width: 51px;
  height: 55px;
  background: #fff;
  bottom: 30px;
  right: 20px;
  float: right;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  #arrowUp i {
    font-size: 15px;
    line-height: 55px; }

#arrowUp:hover {
  background: #8dd831;
  color: white; }

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.image-hover-con:hover .works-images {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.image-hover-con:hover .image-description {
  opacity: 0.8;
  z-index: 5; }

.image-hover-con:hover .team-images-hovered {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.image-hover-con {
  overflow: hidden;
  position: relative; }

.image-description {
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.white-page {
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.service-box:hover .icon-container {
  background: #8dd831; }

.service-box:hover .service-icon {
  color: white; }

.radial-progress {
  padding: 0;
  margin: 0 auto; }

.chart {
  padding-bottom: 20px;
  margin: 0;
  width: 100%; }

.skill-title {
  margin: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px; }
  .skill-title p {
    color: white;
    font-weight: 900;
    font-size: 20px; }

#workTitleLinks {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: white;
  display: none; }

.all-works-icon {
  color: #ccc;
  text-align: right;
  margin-top: 25px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: block; }
  .all-works-icon i {
    font-size: 25px; }

#workImgInfo {
  padding: 0;
  margin: 0; }

#workImgcontent {
  margin-top: 35px;
  overflow: hidden;
  max-height: auto; }
  #workImgcontent h3 {
    color: #575555;
    font-size: 18px;
    margin-bottom: 30px;
    font-size: 35px; }
  #workImgcontent #linkDescription {
    display: block;
    margin-bottom: 45px; }
    #workImgcontent #linkDescription p {
      color: #7b7b7b;
      padding-right: 14px;
      line-height: 25px;
      font-size: 13px;
      font-weight: normal; }
  #workImgcontent .check-icon {
    display: flex; }
    #workImgcontent .check-icon i {
      font-size: 15px;
      vertical-align: top;
      line-height: inherit;
      color: #fdcc68;
      margin: 0 20px 0 0;
      color: #8dd831; }
    #workImgcontent .check-icon p {
      line-height: 25px;
      font-size: 13px;
      color: #7b7b7b;
      padding-right: 14px;
      font-weight: 500;
      margin: 0 0 10px; }
    #workImgcontent .check-icon a {
      line-height: 25px;
      font-size: 13px;
      color: #000;
      font-weight: 600;
      text-decoration: none; }
  #workImgcontent .view-project-btn {
    color: #868686;
    border: 1px solid #dfdfdf;
    padding: 13px 20px;
    background: #fff;
    width: 125px;
    font-size: 14px;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px; }
  #workImgcontent .view-project-btn:hover {
    background: #f5f5f5;
    color: #333333; }

#linkSlider {
  padding-right: 0;
  margin: 0; }
  #linkSlider ul {
    padding: 0;
    list-style: none;
    display: block; }
  #linkSlider li {
    width: 100%;
    padding-bottom: 30px; }
  #linkSlider .fadeIn {
    display: none; }
  #linkSlider .animated {
    display: block; }
  #linkSlider img {
    max-width: 100%;
    height: auto; }

#closeButton i:hover {
  color: #575555; }

.slider-arrows {
  z-index: 1;
  width: 100%;
  position: absolute;
  margin-top: 25%;
  display: none; }
  .slider-arrows i {
    font-size: 35px; }
  .slider-arrows a {
    color: white;
    text-decoration: none; }
  .slider-arrows a:hover {
    text-decoration: none;
    color: white; }

.prev-slide {
  position: absolute;
  left: 35px; }

.next-slide {
  position: absolute;
  right: 40px; }

#linkSlider:hover .slider-arrows {
  display: block; }

div {
  display: block; }

.music_container .box-title {
  margin-bottom: 50px; }

.music_player_container {
  height: 70px;
  height: auto;
  background: #353434;
  /*
  opacity: 0.88;
  filter: alpha(opacity=80); */
  /* For IE8 and earlier */
  margin: 10px 0;
  /* 	padding: 25px; */
  padding: 19px; }

#soundcloud > .container > .music_player_container {
  background: transparent; }

.music_icons {
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: inline-block; }

.music_icons i {
  font-size: 18px;
  color: #fff;
  margin: 0 6px 6px 6px; }

.music_img_overlay {
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  opacity: 0.4; }

/*
    Document        : mep-feature-playlist.css
    Author          : Andrew Berezovsky <andrew.berezovsky@gmail.com>
    Original Author : Junaid Qadir Baloch <shekhanzai.baloch@gmail.com>
*/
/* Start: Show/Hide Playlist*/
.mejs-controls .mejs-show-playlist button {
  background: transparent url(../resources/controls-playlist.png) no-repeat;
  background-position: -16px -16px; }

.mejs-controls .mejs-hide-playlist button {
  background: transparent url(../resources/controls-playlist.png) no-repeat;
  background-position: -16px 0; }

/* End: Show/Hide Playlist */
/* Start: Previous */
.mejs-controls .mejs-prevtrack button {
  background: transparent url(../resources/controls-playlist.png) no-repeat;
  background-position: 0 -16px; }

/* End: Previous */
/* Start: Next */
.mejs-controls .mejs-nexttrack button {
  background: transparent url(../resources/controls-playlist.png) no-repeat; }

/* End: Next */
/* Start: Shuffle */
.mejs-controls .mejs-shuffle-on button {
  background: transparent url(../resources/controls-playlist.png) no-repeat;
  background-position: -32px 0; }

.mejs-controls .mejs-shuffle-off button {
  background: transparent url(../resources/controls-playlist.png) no-repeat;
  background-position: -32px -16px; }

/* End: Shuffle */
/*Start: Playlist*/
.mejs-playlist {
  position: absolute;
  left: 0;
  height: 200px !important;
  overflow-y: auto;
  background: #000000;
  opacity: 0.8; }

.mejs-playlist ul {
  margin: 0;
  padding: 5px; }

.mejs-playlist li {
  color: white;
  font-size: 11px;
  height: 16px;
  overflow: hidden;
  margin: 2px;
  cursor: pointer; }

.mejs-playlist li:hover {
  color: #a8a8a8; }

.mejs-playlist li.current {
  color: white;
  font-weight: bold; }

/*End: Playlist*/
